/* gallery.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container {
    position: relative;
    max-width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    min-width: 70vw;
    max-height: 80vh;
    max-width: 80vw;
    object-fit: contain;   
    border-radius: .25vw; 
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

#prev-button {
    left: 5%;
}

#next-button {
    right: 5%;
}
