/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles for body and HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%; /* Full viewport height */
}

/* Common styles for columns */
.left-column, .right-column {
    flex: 0 0 14vw;
    background-color: #d3d3d3;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    overflow: hidden;
}

.right-column {
    flex: 0 0 15vw;
    width: min-content;
    overflow: hidden;
    align-items: center;
}

.right-column.active {
    flex: 0 0 auto;
    width: auto;
    overflow: auto;
}

/* Middle column styles */
.middle-column {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #c3c3c3;
}

/* Content container styles */
.summary-content, .home-default-insight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    margin-top: 0;
}

.summary-content {
    overflow-y: auto;
}

/* Dynamic header styles */
.dynamic-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(119, 119, 119, 1);
    height: 10vh;
    font-size: 2.5vw;
    color: #d3d3d3;
    font-weight: bold;
    width: 15vw;
    top: 0;
}

.dynamic-header-content {
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Common styles for images inside containers */
.profile-photo {
    animation: zoomIn .3s ease-out forwards;
    object-fit: contain;
    max-width: 6vw;
}

/* Typography */
.profile-username-branding, .foreverU-header, .desktop-icon-grid-header {
    font-family: 'Poller One', sans-serif;
    letter-spacing: .2em;
    font-weight: bold;
}

/* Adjust specific elements */
#leftColumnContent {
    overflow-y: auto;
    height: 100vh;
}
